/*Huvud-elementen som bygger upp varje sida*/
#container
{
    margin:auto;
    max-width:476px;
    overflow:auto;
    border: 2px solid #c5cffb;
    border-radius:10px;
    background-color:#DFE4FD;

}

#header
{
    background-color:#c5cffb;
    width:100%;
    height:144px;
    background-image:url('pics/logo.png');
    background-repeat:no-repeat;
}


#main_content
{
    width:100%;
    min-height:500px;
    float:right;
    background-color:white;
    padding:0 3% 0 1%;
}

#footer
{
    float:right;
    background-color:#c5cffb;   
    height:60px;
    width:100%;
    margin-top:20px;
}
#footer p
{
    margin:20px
}



/* Länkar, ej menyn */
a:link
{
    color:blue;
    text-decoration:none;
}
a:visited
{
    color:purple;
    text-decoration:none;
}
a:hover
{
    text-decoration:underline;
}
a:active
{
    color:#DFE4FD;    
}


/*Rubriker och <p> */
h1 
{
    font-family:euphemia, arial, sans-serif;
    font-size:30pt;
    margin:10px 0 10px 10px;
    text-shadow: 5px 5px 5px #c5cffb;
}

h2  
{
    font-family:euphemia, arial, sans-serif;
    font-size:20pt;
    margin:25px 0 10px 10px;
}

h3
{
    font-family:euphemia, arial, sans-serif;
    font-weight:bold;
    font-size:16pt;
    margin:20px 0 10px 10px;
}

p
{
    font-family:"Verdana", serif;
    font-size: 11pt;
    line-height:14pt;
    margin:10px;
}




/* Listor */
ul
{
    padding-left:30px;
    list-style-type: square;
}

ol
{
    padding-left:30px;
    list-style-type:decimal;
}

dt
{
    padding-left:30px;
    font-family:"Verdana";
    font-size:11pt;
    line-height:16pt; 
    font-weight:bold;
}
dd
{
    margin-left:30px;    
}

li
{
    font-family:"Verdana";
    font-size:11pt;
    line-height:16pt;    
}


/* Bilder */

.left
{
    margin:15px;
    float:left; 
}

.right
{
    margin:15px;
    float:right;     
}




/*Menyn */
#menu 
{
    min-width:123px;

}

#menu ul
{
    list-style-type:none;
    padding-left: 0;
}

#menu li
{
    margin:5px;
}

#menu a
{
    height:40px;
    text-align:center;
    width:100%;
    padding-left:25px;
    font-family:euphemia, arial, sans-serif;
    font-size:14pt;
    display:block;
}

#menu a:link, #menu a:visited
{
    color:black;
    background-color:#c5cffb;
    text-decoration:none;
}


#menu a:hover
{
    background-color:white;
    text-decoration:underline;
}

#menu .active
{
    font-size:14pt;
    font-weight:bold;
}

/*sprites för menyn*/
#menu .active.menu_index
{
    background: #c5cffb url('pics/sprite.png') 0 0;
    background-repeat:no-repeat;
}
#menu .menu_index
{
    background: #c5cffb url('pics/sprite.png')0 -48px;
    background-repeat:no-repeat;
}

#menu .active.menu_presentation
{
    background: #c5cffb url('pics/sprite.png')0 -192px;
    background-repeat:no-repeat;
}
#menu .menu_presentation
{
    background: #c5cffb url('pics/sprite.png')0 -240px;
    background-repeat:no-repeat;
}

#menu .active.menu_laborationer
{
    background: #c5cffb url('pics/sprite.png')0 -96px;
    background-repeat:no-repeat;
}
#menu .menu_laborationer
{
    background: #c5cffb url('pics/sprite.png')0 -144px;
    background-repeat:no-repeat;
}

#menu .active.menu_kontakt
{
    background: #c5cffb url('pics/sprite.png')0 -288px;
    background-repeat:no-repeat;
}
#menu .menu_kontakt
{
    background: #c5cffb url('pics/sprite.png')0 -336px;
    background-repeat:no-repeat;
}




/*Blogginläggen*/
.blogg_inlagg 
{
    background-color:#e7ebfe;
    min-height:200px;    
    width:80%;
    overflow:auto;
    margin:20px 10px 20px 10px;
    border:1px solid #c5cffb;
    border-radius:15px;
    padding:10px;
    box-shadow:5px 5px 15px #999999;
}

.blogg_inlagg h3
{
    background-image:url('pics/asterisk.png');
    background-repeat:no-repeat;
    padding-left:20px;
}

.skrivet_av
{
    font-style:italic;
}


/* element på presentation.html*/
.rubrik2_presentation
{
    clear:left;
}




/*Formuläret i kontakt.html*/
#formulär
{
    background-color:#e7ebfe;
    min-height:200px;    
    width:80%;
    overflow:auto;
    margin:20px 10px 20px 10px;
    border:1px solid #c5cffb;
    border-radius:15px;
    padding:10px;
}


#formulär label
{
    font-family:"Verdana", serif;
    font-size: 11pt;
}





/*Unika element för laborationer.html */
#resultat_tabell table,td,tr
{
    border:1px solid black;
    
    font-family: verdana,serif;
    font-size:11pt;
}

#resultat_tabell td
{
    text-align: center;
    padding: 3px;
}

#resultat_tabell thead, tfoot
{
    background-color: #c5cffb;

}

.labb
{
    width:80%;
    background-color:#e7ebfe;
    margin:20px 0 20px 0;
    border:1px solid #c5cffb;
    border-radius:15px;
    padding:10px;
}