
/*Huvud-elementen som bygger upp varje sida*/
#container
{
    margin-right:auto;
    margin-left:auto;
    width:960px;
    overflow:auto;
    border: 2px solid #c5cffb;
    background-color:#DFE4FD;
}

#header
{
    background-color:#c5cffb;
    height:144px;
    background-image:url('pics/logo.png');
    background-repeat:no-repeat;
}


#sidebar
{
    width: 150px;
    height:300px;
    float:left;
}

#main_content
{
    width:750px;
    min-height:500px;
    float:right;
    background-color:#FFFFFF;
}

#footer
{
    float:right;
    background-color:#c5cffb;   
    height:60px;
    width:960px;
    margin-top:20px;
}
#footer p
{
    margin:20px
}



/* Länkar, ej menyn */
a:link
{
    color:blue;
    text-decoration:none;
}
a:visited
{
    color:purple;
    text-decoration:none;
}
a:hover
{
    text-decoration:underline;
}
a:active
{
    color:#DFE4FD;    
}




/*Rubriker och <p> */
h1 
{
    font-family:euphemia, arial, sans-serif;
    font-size:40pt;
    margin-top:10px;
    margin-bottom:10px;
}

h2  
{
    font-family:euphemia, arial, sans-serif;
    font-size:20pt;
    margin-top:25px;
    margin-bottom:10px;
}

h3
{
    font-family:euphemia, arial, sans-serif;
    font-weight:bold;
    font-size:16pt;
    margin-top:20px;
    margin-bottom:10px;
}

p
{
    font-family:"Verdana", serif;
    font-size: 11pt;
    line-height:14pt;
}




/* Listor */
ul
{
    padding-left:30px;
    list-style-type: square;
}

ol
{
    padding-left:30px;
    list-style-type:decimal;
}

dt
{
    padding-left:30px;
    font-family:"Verdana";
    font-size:11pt;
    line-height:16pt; 
    font-weight:bold;
}
dd
{
    margin-left:30px;    
}

li
{
    font-family:"Verdana";
    font-size:11pt;
    line-height:16pt;    
}


/* Bilder */

.left
{
    margin:15px;
    float:left; 
}

.right
{
    margin:15px;
    float:right;     
}




/*Menyn */
#menu 
{
    width:149px;   
}

#menu ul
{
    list-style-type:none;
    padding-left: 0;
}

#menu li
{
    margin:5px;
}

#menu a
{
    font-family:euphemia, arial, sans-serif;
    display:block;
}

#menu a:link
{
    color:black;
    background-color:#c5cffb;
    text-decoration:none;
}
#menu a:visited
{
    color:black;
    background-color:#c5cffb;
    text-decoration:none;
}

#menu a:hover
{
    background-color:white;
    text-decoration:underline;
}

#menu .active
{
    font-weight:bold;
}



/*Blogginläggen*/
.blogg_inlagg 
{
    background-color:#e7ebfe;
    min-height:200px;    
    width:600px;
    overflow:auto;
    margin:20px 10px 20px 10px;
    border:1px solid #c5cffb;
    padding:10px;
}

.blogg_inlagg h3
{
    background-image:url('pics/asterisk.png');
    background-repeat:no-repeat;
    padding-left:20px;
}

.skrivet_av
{
    font-style:italic;
}


/* element på presentation.html*/
.rubrik2_presentation
{
    clear:left;
}




/*Formuläret i kontakt.html*/
#formulär
{
    border:1px solid #c5cffb;    
}

#formulär input,button, select, fieldset
{
    margin: 10px 0 10px 0;
}
#formulär legend
{
    font-family:"Verdana", serif;
    font-size: 11pt;
    padding:0;
}




/*Unika element för laborationer.html */
#resultat_tabell table,td,tr
{
    border:1px solid black;
    
    font-family: verdana,serif;
    font-size:11pt;
}

#resultat_tabell td
{
    text-align: center;
    padding: 3px;
}

#resultat_tabell thead, tfoot
{
    background-color: #c5cffb;

}

.labb
{
    background-color:#e7ebfe;
    margin:20px 0 20px 0;
        border:1px solid #c5cffb;
    padding:10px;
}



