img
{
    /*Förstorning*/
    width:250px;
    transition: width 1s;
    -webkit-transition:width 1s;
    
        /*Skugga*/
    
}

img:hover
{
    /*Förstorning*/
    width:450px;
    
    /*Skugga*/
}

