@font-face
{
    font-family:handskriven;
    src: url('font/Cutie_Patootie.ttf')
}

a: after
{
    content:" "attr(title)" ";
    
    position:relative;
    z-index:10;
}

body
{
    background-image: url('pics/wood.jpg');
}

div
{
    margin:150px;
}

a
{
    background-color:white;
    padding:10px 10px 60px 10px;
    
    margin:-20px;
    position:relative;
    
    
    /*Förändring*/
    transition: all 1s;
    -webkit-transition:all 1s;
    
    /*Förstorning*/
    width:200px;
    
    /*Skugga*/
    -webkit-box-shadow: 2px 2px 20px 10px #000000;
    box-shadow: 2px 2px 20px 10px #000000;
    
    /*Vridning*/
    transform:rotate(5deg);
    -webkit-transform:rotate(5deg);
    
    display:block;
        
    text-decoration:none;
    font-size:20pt;
    color: black;
    font-family:handskriven;
            
}

a:hover
{
    position:relative;
    z-index:9;
 
    /*Förstorning*/
    width:300px;
    padding:15px 15px 90px 10px;   
    
    /*Skugga*/
    -webkit-box-shadow: 5px 5px 60px 30px #000000;
    box-shadow: 5px 5px 60px 30px #000000;

    /*Vridning*/    
    transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
}
